* {
  font-family: "Dosis", sans-serif; }

body {
  background: #F1F1F1;
  padding-top: 50px; }

.columna {
  background: rgba(128, 128, 128, 0.1);
  height: 84vh;
  overflow: hidden;
  overflow-y: scroll; }

.opcion {
  background: #71A9C1;
  padding: 10px;
  border-bottom: solid 1px white;
  padding-left: 50px;
  position: relative; }
  .opcion p {
    color: white;
    margin: 0;
    font-size: 18px; }
  .opcion p, .opcion select, .opcion div {
    display: inline-block; }
  .opcion .option-p {
    display: none;
    float: right;
    padding: 2px 5px;
    margin: 0 2.5px;
    cursor: pointer; }
  .opcion .remove {
    color: #273852; }
  .opcion .edit {
    color: white; }

.editar-btn {
  display: none; }

.centro {
  display: table-cell;
  vertical-align: middle; }

input {
  width: 100%;
  display: inline-block;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  color: #273852;
  font-weight: bold;
  background: white url(../img/lupa.svg) no-repeat 98% center/20px;
  padding-right: 30px; }

.titulo {
  padding: 10px;
  background: #273852;
  display: block;
  width: 100%;
  color: white; }
  .titulo h2 {
    margin: 0;
    display: block;
    width: 100%; }

.persona .check {
  content: "";
  display: inline-block;
  border-radius: 5px;
  background: #95DAF2;
  position: absolute;
  height: 60%;
  width: 30px;
  top: 20%;
  left: 10px;
  cursor: pointer; }
.persona .close {
  display: none; }
.persona:hover .option-p {
  display: block; }
.persona.active .close {
  display: block; }
.persona.active:before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 20px;
  width: 14px;
  border-right: solid 2px white;
  border-bottom: solid 2px white;
  z-index: 9;
  transform: rotate(45deg);
  top: 9px;
  left: 18px; }
.persona.inhabil {
  background: #DBCFCF; }
  .persona.inhabil p, .persona.inhabil .add, .persona.inhabil .remove {
    color: rgba(255, 255, 255, 0.6);
    pointer-events: none; }
  .persona.inhabil .check {
    background: rgba(192, 192, 192, 0.4);
    pointer-events: none; }

.valor-total {
  display: table;
  width: 100%; }
  .valor-total .valores {
    text-align: center;
    font-size: 30px; }
  .valor-total .valor-afavor h2, .valor-total .valor-afavor p {
    color: #71A9C1; }
  .valor-total .valor-afavor, .valor-total .valor-deuda {
    display: none; }
  .valor-total .valor-compra h2 {
    color: #273852; }
  .valor-total .valor-compra p {
    color: #71A9C1; }
  .valor-total .valor-deuda h2, .valor-total .valor-deuda p {
    color: #F76669; }
  .valor-total .btn-compra, .valor-total .btn-deuda {
    padding: 20px 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 17px;
    display: block;
    margin-top: 30px; }
  .valor-total .btn-compra {
    background: #95DAF2; }
  .valor-total .btn-deuda {
    background: #F76669; }
  .valor-total .btns-valor {
    display: none; }

.form-inclusion {
  background: #95DAF2;
  padding: 20px 15px 0;
  position: relative;
  min-height: 310px; }
  .form-inclusion .titulo {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -20px;
    width: initial;
    margin-bottom: 20px; }

.open-close {
  position: relative;
  background: #95DAF2;
  min-height: 40px;
  border-radius: 0 0 20px 20px;
  cursor: pointer; }
  .open-close:after, .open-close:before {
    content: "";
    width: 20px;
    height: 2px;
    background: white;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px; }
  .open-close:after {
    bottom: 20px;
    width: 40px; }

.form-horizontal .form-group:last-child {
  margin-bottom: 0; }

.formularios {
  position: absolute;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
  top: -350px;
  transition: 0.5s; }
  .formularios .btn.btn-default {
    background: #95DAF2;
    color: white;
    border-color: white;
    text-shadow: none; }
  .formularios a {
    color: #273852; }
  .formularios.active {
    top: 0; }
  .formularios ul li {
    width: 50%;
    background: #71A9C1; }
    .formularios ul li a {
      border: none !important; }
    .formularios ul li.active {
      background: #273852; }
      .formularios ul li.active a, .formularios ul li.active a:focus {
        background: #273852;
        color: white;
        font-weight: bold; }

.producto {
  padding-left: 90px;
  padding-right: 50px; }
  .producto div.valor {
    background: #273852;
    right: 0;
    position: absolute;
    height: 100%;
    padding: 10px;
    color: white;
    top: 0;
    min-width: 49px; }
  .producto .operadores {
    position: absolute;
    left: 0;
    padding: 0;
    top: 0;
    right: inherit; }
    .producto .operadores .mas, .producto .operadores .menos {
      position: relative;
      float: left;
      padding: 10px 15px;
      cursor: pointer;
      background: #95DAF2; }
      .producto .operadores .mas p, .producto .operadores .menos p {
        font-size: 30px;
        line-height: 17px; }
    .producto .operadores .mas {
      border-right: solid 1px white; }
  .producto:hover .option-p {
    display: block; }
  .producto.agotado {
    background: #F76669; }
    .producto.agotado .mas, .producto.agotado .menos, .producto.agotado .valor {
      background: rgba(255, 255, 255, 0.1);
      pointer-events: none; }

/*# sourceMappingURL=main.css.map */
