.persona{
	.check{
		content: "";
		display: inline-block;
		border-radius: 5px;
		background: $azul-claro;
		position: absolute;
		height: 60%;
		width: 30px;
		top: 20%;
		left: 10px;
		cursor: pointer;
	}
	.close{
		display: none;
	}
	&:hover{
		.option-p{
			display: block;
		}
	}
	&.active{
		.close{
			display: block;
		}
		&:before{
		    content: "";
		    display: inline-block;
		    position: absolute;
		    height: 20px;
		    width: 14px;
		    border-right: solid 2px white;
		    border-bottom: solid 2px white;
		    z-index: 9;
		    transform: rotate(45deg);
		    top: 9px;
		    left: 18px;
		}
	}
	&.inhabil{
		background: $gris;
		p,.add,.remove{
			color: rgba(white, 0.6);
			pointer-events: none;
		}
		.check{
			background: rgba(silver,0.4);
			pointer-events: none;
		}

	}
}