.form-inclusion{
	background: $azul-claro;
	padding: 20px 15px 0;
	position: relative;
    min-height: 310px;
	.titulo{
	    margin-right: -15px;
    	margin-left: -15px;
    	margin-top: -20px;
    	width: initial;
    	margin-bottom: 20px;
	}
}
.open-close{
	position: relative;
	background: $azul-claro;
	min-height: 40px;
	border-radius: 0 0 20px 20px;
	cursor: pointer;
	&:after,&:before{
		content: "";
		width: 20px;
		height: 2px;
		background: white;
		display: block;
		position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    bottom: 10px;	
	}
	&:after{
		bottom: 20px;
		width: 40px;
	}
}

.form-horizontal{
	.form-group:last-child{
		margin-bottom: 0;
	}
}
.formularios{
	position: absolute;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    top: -350px;
    transition: 0.5s;
    .btn.btn-default{
    	background: $azul-claro;
    	color: white;
    	border-color: white;
    	text-shadow: none;
    }
	a{
		color:$azul-oscuro;
	}
    &.active{
        top: 0;
    }
    ul{
    	li{
    		width: 50%;
    		background: $azul-medio;
    		a{
    			border: none !important;
    			
    		}
    		&.active{
    			background: $azul-oscuro;
    			a,a:focus{
    				background: $azul-oscuro;
    				color: white;
    				font-weight: bold;
    			}
    		}
    	}
    }
}