$font: 'Dosis' , sans-serif;
$azul-claro: #95DAF2;
$azul-medio: #71A9C1;
$azul-oscuro: #273852;
$gris: #DBCFCF;
$rosa: #F76669;

*{
	font-family: $font;
}
body{
	background: #F1F1F1;
	padding-top: 50px;
}
.columna{
	background: rgba(grey,0.1);
	height: 84vh;
	overflow: hidden;
	overflow-y: scroll;
}
.opcion{
	background: $azul-medio;
	padding: 10px;
	border-bottom: solid 1px white; 
	padding-left: 50px;
	position: relative;
	p{
		color: white;
		margin: 0;
		font-size: 18px;
	}
	p,select,div{
		display: inline-block;
	}
	.option-p{
		display: none;
		float: right;
		padding: 2px 5px;
		margin: 0 2.5px;
		cursor: pointer;
	}
	.remove{
		color: $azul-oscuro;
	}
	.edit{
		color: white;
	}
}
.editar-btn{
	display: none;
}
.centro{
	display: table-cell;
	vertical-align: middle;
}
input{
	width: 100%;
	display: inline-block;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 18px;
	color: $azul-oscuro;
	font-weight: bold;
	background: white url(../img/lupa.svg) no-repeat 98% center / 20px;
	padding-right: 30px;
}
.titulo{
	padding: 10px;
	background: $azul-oscuro;
	display: block;
	width: 100%;
	color: white;
	h2{
		margin: 0;
		display: block;
		width: 100%;
	}
}