.producto{
	padding-left: 90px;
	padding-right: 50px;
	div.valor{
		background: $azul-oscuro;
		right: 0;
		position: absolute;
		height: 100%;
		padding: 10px;
		color: white;
		top: 0;
		min-width: 49px;
	}
	.operadores{
		position: absolute;
		left: 0;
		padding: 0;
		top: 0;
		right: inherit;
		.mas,.menos{
			position: relative;
			float: left;
			padding: 10px 15px;
			cursor: pointer;
			background: $azul-claro;
			p{
				font-size: 30px;
    			line-height: 17px;
			}
		}
		.mas{
			border-right: solid 1px white;
		}
	}
	&:hover{
		.option-p{
			display: block;
		}
	}
	&.agotado{
		background: $rosa;
		.mas,.menos,.valor{
			background: rgba(white,0.1);	
			pointer-events: none;
		}
	}
}