.valor-total{
	display: table;
	width: 100%;
	.valores{
		text-align: center;
		font-size: 30px;
	}	
	.valor-afavor{
		h2,p{
			color: $azul-medio;	
		}
	}	
	.valor-afavor,.valor-deuda{
		display: none;
	}
	.valor-compra{
		h2{
			color: $azul-oscuro;
		}
		p{
			color: $azul-medio;
		}
	}
	.valor-deuda{
		h2,p{
			color: $rosa;
		}	
	}
	.btn-compra,.btn-deuda{
		padding: 20px 5px;
		border-radius: 5px;
		color: white;
		text-align: center;
		font-size: 17px;
		display: block;
		margin-top: 30px;
	}
	.btn-compra{
		background: $azul-claro;
	}
	.btn-deuda{
		background: $rosa;
	}
	.btns-valor{
		display: none;
	}
}